$colors: (
	primary: (
		cyan: hsl(176, 50%, 47%),
		dark-cyan: rgb(20, 123, 116),
	),
	neutral: (
		white: hsl(0, 0%, 100%),
		light-gray: hsl(0, 0%, 96%),
		gray: hsl(0, 0%, 48%),
		black: hsl(0, 0%, 0%),
	),
);
