:root {
	/* ## Colors */

	/* ### Primary */
	--red: hsl(0, 100%, 74%);
	--green: hsl(154, 59%, 51%);
	--blue: hsl(248, 32%, 49%);

	/* ### Neutral */
	--dark-blue: hsl(249, 10%, 26%);
	--grayish-blue: hsl(246, 25%, 77%);
	--white: hsl(0, 100%, 100%);

	/* ## Fonts */
	--fs-xl: 1.75rem;
	--fs-md: 1rem;
	--fs-s: 0.65rem;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

h1,
h2,
h3,
p,
body {
	margin: 0;
}

body {
	min-height: 100vh;
	width: 100vw;
	font-family: "Poppins", sans-serif;
	color: var(--white);
	background-image: url("../assets/images/bg-intro-mobile.png");
	background-repeat: no-repeat;
	background-color: var(--red);
	background-size: cover;
}

/* Containers and Wrapper */
.container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.wrapper {
	padding-top: 5.7em;
	padding-bottom: 4.2em;
	width: 87%;
	text-align: center;
}

/* Text */
.text-wrapper {
	padding-bottom: 4em;
}

.title {
	margin-bottom: 0.8em;
	font-size: var(--fs-xl);
	line-height: 1.3;
}

.paragraph {
	font-size: var(--fs-md);
	font-weight: 500;
	line-height: 1.6;
}

/* Form Wrapper */

.try-btn,
.form {
	border-radius: 0.7em;
	box-shadow: 0 0.5em rgba(62, 60, 73, 0.2);
}

.btn {
	display: block;
	padding: 1.16em;
	color: inherit;
	text-decoration: none;
}

.try-btn {
	margin-bottom: 1.5em;
	padding-inline: 3em;
	font-size: var(--fs-md);
	background: var(--blue);
}

.try-btn span {
	font-weight: 700;
}

/* Form */

.form {
	padding: 1.5em;
	background: var(--white);
}

.input-group {
	position: relative;
	margin-bottom: 1.05em;
}

.input,
.btn-submit {
	display: block;
	width: 100%;
	font-size: 0.9rem;
	font-weight: 600;
	font-family: "Poppins", sans-serif;
	border-radius: 0.4em;
}

.input {
	position: relative;
	padding-inline: 1.5em 4em;
	height: 56px;
	border: 1px solid hsla(246, 25%, 77%, 0.5);
}

.input:focus {
	outline: none;
}

.error-icon {
	position: absolute;
	top: 28px;
	right: 0;
	transform: translate(-100%, -50%);
	display: none;
}

.error-msg {
	display: none;
	font-size: var(--fs-s);
	font-weight: 600;
	font-style: italic;
}

.btn-submit {
	margin-bottom: 0.6em;
	padding: 1.15em 1.5em 1.1em;
	background: var(--green);
	font-weight: 500;
	letter-spacing: 1.3px;
	text-transform: uppercase;
	border: 1px solid var(--green);
	box-shadow: inset 0 -0.3em rgba(62, 60, 73, 0.1);
}

.terms {
	width: 85%;
	margin: 0 auto;
	font-size: var(--fs-s);
	line-height: 2;
	color: var(--grayish-blue);
}

.terms span {
	color: var(--red);
	font-weight: 700;
}

@media screen and (min-width: 768px) {
	:root {
		--fs-xl: 3.1rem;
	}

	body {
		background-image: url("../assets/images/bg-intro-desktop.png");
	}

	.container {
		min-height: 100vh;
	}

	.wrapper {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		max-width: 1130px;
		padding: 0;
	}

	.wrapper > * {
		flex: 1 1 50%;
	}

	/* Text Wrapper */
	.text-wrapper {
		padding: 0;
		text-align: start;
	}

	.title {
		margin-bottom: 0.6em;
		line-height: 1.1;
	}

	/* Form */
	.form {
		padding: 2.5em;
	}

	.input-group {
		line-height: 1.4;
		margin-bottom: 1.25em;
		text-align: end;
	}

	.input:focus {
		border: 1px solid black;
	}

	.btn-submit {
		cursor: pointer;
		margin-bottom: 0.9em;
	}

	.btn-submit:hover {
		background-color: hsla(154, 59%, 51%, 0.7);
	}

	/* In error */
	.input-error .input {
		border: 2px solid var(--red);
	}

	.input-error .error-icon {
		display: initial;
	}

	.input-error .error-msg {
		display: initial;
		color: var(--red);
	}
} ;
