:root {
	/* ## Colors */

	/* ### Primary */

	--red: hsl(0, 100%, 74%);
	--green: hsl(154, 59%, 51%);

	/* ### Accent */

	--blue: hsl(248, 32%, 49%);

	/* ### Neutral */

	--dark-blue: hsl(249, 10%, 26%);
	--grayish-blue: hsl(246, 25%, 77%);
	--white: hsl(0, 100%, 100%);
	/* - Weights: 400, 500, 600, 700 */

	--fs-xl: 1.75rem;
	--fs-md: 1rem;
	--fs-s: 0.68rem;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

h1,
h2,
h3,
p,
body {
	margin: 0;
}

body {
	min-height: 100vh;
	width: 100vw;
	font-family: "Poppins", sans-serif;
	color: var(--white);
	background: url("../assets/images/bg-intro-mobile.png") no-repeat, var(--red);
}

/* Containers and Wrapper */
.container {
	min-height: 100%;
	/* background-color: rgba(0, 0, 0, 0.2); */
}

.wrapper {
	width: 87%;
	padding-top: 5.7em;
	padding-bottom: 4.8em;
	margin: 0 auto;
	text-align: center;
}

/* Text */
.text-wrapper {
	padding-bottom: 4em;
}

.title {
	margin-bottom: 0.8em;
	font-size: var(--fs-xl);
	line-height: 1.3;
}

.paragraph {
	font-size: var(--fs-md);
	font-weight: 500;
	line-height: 1.6;
}

/* Form Wrapper */

.try-btn,
.form {
	border-radius: 0.7em;
	box-shadow: 0 0.5em rgba(62, 60, 73, 0.2);
}

.btn {
	display: block;
	padding: 1.16em;
	color: inherit;
	text-decoration: none;
}

.try-btn {
	margin-bottom: 1.5em;
	padding-inline: 3em;
	font-size: var(--fs-md);
	background: var(--blue);
}

.try-btn span {
	font-weight: 700;
}

/* Form */

.form {
	padding: 1.5em;
	background: var(--white);
}

.input-group {
	margin-bottom: 1em;
}

.input,
.btn-submit {
	display: block;
	width: 100%;
	padding: 1.2em 1.5em 1.05em;
	font-size: 0.9rem;
	font-weight: 600;
	font-family: "Poppins", sans-serif;
	border-radius: 0.4em;
}

.input {
	border: 0.5px solid rgba(185, 182, 211, 0.5);
}

.error-msg {
	display: none;
}

.btn-submit {
	background: var(--green);
	font-weight: 500;
	letter-spacing: 1.3px;
	text-transform: uppercase;
	border: none;
	box-shadow: inset 0 -0.3em rgba(62, 60, 73, 0.1);
	margin-bottom: 0.6em;
}

.terms {
	width: 80%;
	margin: 0 auto;
	font-size: var(--fs-s);
	line-height: 2;
	color: var(--grayish-blue);
}

.terms span {
	color: var(--red);
	font-weight: 700;
}
