header.header 
    h1.title Our Pricing
    .periodicity
        span.periodicity__name Annually
        .toggle-wrapper
            input(type="checkbox" id="switch")
            label(for="switch")
        span.periodicity__name Monthly