$colors: (
	primary: (
		white: hsl(0, 0%, 100%),
		magent-50: hsla(236, 72%, 79%, 0.4),
		magent-100: hsl(236, 72%, 79%),
		magent-200: hsl(237, 63%, 64%),
	),
	neutral: (
		100: hsl(240, 78%, 98%),
		200: hsl(234, 14%, 74%),
		300: hsl(233, 13%, 49%),
		400: hsl(232, 13%, 33%),
	),
);
