@use "../abstracts/breakpoints" as *;

.footer {
	position: relative;
	padding: 8.6em 1em 3.3em;
	background-color: var(--dark-cyan);
	color: var(--cyan);
	text-align: start;

	@include mq(medium) {
		padding: 12em 7.5em 3.3em;
	}

	&__logo {
		width: 165px;
		margin-bottom: 2em;
		filter: brightness(0) invert(100);

		@include mq(medium) {
			width: 240px;
			margin-bottom: 2.4em;
		}
	}

	&__content {
		display: flex;
		flex-wrap: wrap;
		gap: 3.3em;
		margin-bottom: 1.5em;

		@include mq(medium) {
			align-items: flex-start;
			flex-wrap: nowrap;
		}

		> * {
			flex-basis: 100%;
		}

		.contacts {
			&__item {
				display: flex;
				align-items: flex-start;
				gap: 1.8em;

				&:not(:last-child) {
					margin-bottom: 1.6em;
				}

				p {
					position: relative;
					top: -4px;
					line-height: 1.4;
				}
			}
		}

		.pages {
			font-size: 1.1rem;

			@include mq(medium) {
				columns: 2;
			}

			&__item {
				&:not(:last-child) {
					margin-bottom: 1.1em;
				}

				@include mq(medium) {
					&:hover {
						text-decoration: underline;
						text-underline-position: under;
					}
				}
			}
		}

		.socials {
			display: flex;
			justify-content: center;
			gap: 1em;

			&__item {
				display: flex;
				justify-content: center;

				width: 30px;
				aspect-ratio: 1;
				padding: 0.4em;
				border-radius: 50%;
				border: 1px solid var(--white);

				@include mq(medium) {
					&:hover {
						color: var(--pink);
						border-color: var(--pink);

						img {
							filter: invert(55%) sepia(98%) saturate(3028%) hue-rotate(294deg)
								brightness(100%) contrast(101%);
						}
					}
				}
			}

			&__logo {
				filter: invert(1);
			}
		}
	}

	.copy {
		text-align: center;
		font-size: 0.75rem;

		@include mq(medium) {
			text-align: end;
		}
	}
}
