include ../mixins/user
include ../mixins/promotionMsg

article.card
    .card__header
        .header__back
            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-left" class="svg-inline--fa fa-chevron-left" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="currentColor" d="M224 480c-8.188 0-16.38-3.125-22.62-9.375l-192-192c-12.5-12.5-12.5-32.75 0-45.25l192-192c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25L77.25 256l169.4 169.4c12.5 12.5 12.5 32.75 0 45.25C240.4 476.9 232.2 480 224 480z"></path></svg>
        +user("Samuel Green", "Available to Walk", "./assets/images/avatar.jpg")
        .header__menu
            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="ellipsis-vertical" class="svg-inline--fa fa-ellipsis-vertical" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 128 512"><path fill="currentColor" d="M128 64c0-35.39-28.62-64-64-64S0 28.61 0 64s28.62 64 64 64S128 99.39 128 64zM128 256c0-35.39-28.62-64-64-64S0 220.6 0 256s28.62 64 64 64S128 291.4 128 256zM128 448c0-35.39-28.62-64-64-64s-64 28.61-64 64s28.62 64 64 64S128 483.4 128 448z"></path></svg>
    .card__body
        ul.messages
            li.message-group
                p.message.message--left That sounds great. I'd be happy to discuss more.
                p.message.message--left Could you send over some pictures of your dog, please?

            li.message-group
                .message.message--right.message--image-group
                    img(src="./assets/images/dog-image-1.jpg", alt="dog image 1" style="width: 40px; border-radius:10px;")
                    img(src="./assets/images/dog-image-2.jpg", alt="dog image 2" style="width: 40px; border-radius:10px;")
                    img(src="./assets/images/dog-image-3.jpg", alt="dog image 3" style="width: 40px; border-radius:10px;")
                p.message.message--right Here are a few pictures. She's a happy girl!
                p.message.message--right Can you make it?

            li.message-group
                p.message.message--left She looks so happy! The time we discussed works. How long shall I take her out for?
                +promotionMsg("30 minutes walk", "$29", "message message--left")
                +promotionMsg("1 hour walk", "$49", "message message--left")
        .field-group
            input.input-text(type="text" placeholder="Type a message...")
            button.btn-send
                <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-left" class="svg-inline--fa fa-chevron-left" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="currentColor" d="M224 480c-8.188 0-16.38-3.125-22.62-9.375l-192-192c-12.5-12.5-12.5-32.75 0-45.25l192-192c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25L77.25 256l169.4 169.4c12.5 12.5 12.5 32.75 0 45.25C240.4 476.9 232.2 480 224 480z"></path></svg>