footer.footer 
    div.logo-wrapper
        img.logo(src="./assets/images/logos/logo.svg", alt="logo")
    div.pages-wrapper
        ul.pages
            li.pages__item: a.pages__link(href="#") FAQs
            li.pages__item: a.pages__link(href="#") Contact Us
            li.pages__item: a.pages__link(href="#") Privacity Policy
            li.pages__item: a.pages__link(href="#") Press Kit
            li.pages__item: a.pages__link(href="#") Install Guide
    div.socials-wrapper
        ul.socials
                li.socials__item: a.socials__link(href="#")
                    img.image(src="./assets/images/icons/icon-facebook.svg", alt="icon-facebook")
                li.socials__item: a.socials__link(href="#")
                    img.image(src="./assets/images/icons/icon-twitter.svg", alt="icon-twitter")
                li.socials__item: a.socials__link(href="#")
                    img.image(src="./assets/images/icons/icon-instagram.svg", alt="icon-instagram")