@use "../functions/rem" as *;
@use "../functions/clampBuilder" as *;
@use "../abstracts/breakpoints" as *;

.aside {
	position: absolute;
	padding: 2.5em 1.8em;
	bottom: 0;
	left: 50%;
	width: min(90%, 860px);
	background-color: var(--clr-primary-dark-100);
	border-radius: 0.7em;
	transform: translate(-50%, 50%);
	box-shadow: 5px 5px 10px var(--clr-primary-dark-300);

	@include mq(tablet) {
		padding-inline: rem(75px);
	}

	.title {
		font-family: var(--ff-secundary);
		font-size: rem(18px);
		font-size: clampBuilder(1.125, 2);
		margin-bottom: 1em;
	}

	.description {
		font-size: rem(13.8px);
		line-height: 1.5;
		margin-bottom: 2.4em;

		max-width: 650px;
		margin-inline: auto;
	}

	.form {
		position: relative;
		display: flex;
		flex-wrap: wrap;
		gap: 1.6em;

		&::after {
			content: "Please enter a valid email address";
			position: absolute;
			bottom: -20px;
			left: 30px;
			color: var(--clr-accent-red);
			font-size: rem(12px);
			font-weight: 700;
			display: none;
		}

		&--error {
			&::after {
				display: unset;
			}
		}

		.input-email {
			flex: 1 1 65%;
			padding-inline: 2em;
			padding-block: 1.1em;
			font-size: rem(13.5px);
			border-radius: 2em;
			border-style: none;

			&::placeholder {
				font-size: 0.65rem;
				color: var(--clr-primary-dark-100);
			}
		}

		.btn {
			flex: 1 1 25%;
			min-width: 200px;
		}
	}
}
