@use "../functions/rem" as *;
@use "../functions/clampBuilder" as *;


.btn {
	display: inline-block;
	padding-block: 1.1em;
	font-size: clampBuilder(0.844, 0.9);
	font-weight: 700;
	border-radius: 2em;
	border-style: none;

	&--cyan {
		color: var(--clr-neutral-white, white);
		background: linear-gradient(
			to right,
			var(--clr-accent-cyan),
			var(--clr-accent-blue)
		);
	}

	&:hover {
		background: var(--clr-accent-cyan);
	}
}
