-
    const articlesData1 = [
        {
            title:"Quick Search",
            description:"Easily search your snippets by content, category, web address, application, and more."
        },
        {
            title:"iCloud Sync",
            description:"Instantly saves and syncs snippets across all your devices."
        },
        {
            title:"Complete History",
            description:"Retrieve any snippets from the first momento you started using the app."
        },
    ]

-
    const articlesData2 = [
        {
            title:"Create blacklists",
            description:"Ensure sensitive information never makes its wat to your clipboard by excluding certain sources.",
            urlImage:"icon-blacklist.svg"
        },
        {
            title:"Plain text snippets",
            description:"Remove inwanted formatting from copied text for a consisten look.",
            urlImage:"icon-text.svg"
        },
        {
            title:"Sneak preview",
            description:"Quick preview of all snippets on your Clipboard for easy access.",
            urlImage:"icon-preview.svg"
        },
    ]
