@use "../abstracts" as *;

*,
*::before,
*::after {
	box-sizing: border-box;
	font-family: "Bai Jamjuree", sans-serif;
}

body,
h1,
h2,
h3,
h4,
p {
	margin: 0;
}

body {
	width: 100%;
	min-height: 100vh;
	text-align: center;
	background: no-repeat top / contain
		url("../assets/images/backgrounds/bg-header-mobile.png");

	@include mq(medium) {
		background-image: url("../assets/images/backgrounds/bg-header-desktop.png");
	}

	& > *:not(.footer) {
		width: min(1440px, 83%);
		margin: 0 auto;
	}
}

img {
	max-width: 100%;
	display: block;
}

ul {
	padding: 0;
	margin-block: 0;
	list-style: none;
}

a {
	text-decoration: none;
}

a:visited {
	color: inherit;
}

// Titles
h1,
h2,
h3 {
	color: var(--dark-gray);
}

// Descriptions
[class*="description"] {
	color: var(--gray);
	line-height: 1.62;

	@include mq(medium) {
		margin-inline: auto;
		max-width: 700px;
		// padding-inline: 3em;
	}
}
