aside.aside
    h2.title Get early access today
    p.description It only takes a minute to sign up and our free starter tier is extremely generous. If you have any questions, our support team would be happy to help you.
    form.form
        input.input-email(type="email" placeholder="email@example.com")
        button.btn.btn--cyan(type="submit") Get Started For Free