footer.footer 
    img.footer__logo(src="./assets/images/logo.svg", alt="logo")

    div.footer__content

        ul.contacts
            li.contacts__item.location
                img.icon(src="./assets/images/icon-location.svg", alt="icon-location")
                p.text Lorem, ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
            li.contacts__item.phone
                img(src="./assets/images/icon-phone.svg", alt="icon-phone")
                p.text +1-543-123-4567
            li.contacts__item.email
                img(src="./assets/images/icon-email.svg", alt="icon-email")
                p.text example@fylo.com

        ul.pages
            li.pages__item: a.pages__link Abuot Us
            li.pages__item: a.pages__link Jobs
            li.pages__item: a.pages__link Press
            li.pages__item: a.pages__link Blog
            li.pages__item: a.pages__link Contact Us
            li.pages__item: a.pages__link Terms
            li.pages__item: a.pages__link Privacy

        ul.socials
            li.socials__item: a.socials__link: img.socials__logo(src="./assets/images/logo-facebook.svg", alt="facebook")
            li.socials__item: a.socials__link: img.socials__logo(src="./assets/images/logo-twitter.svg", alt="twitter")
            li.socials__item: a.socials__link: img.socials__logo(src="./assets/images/logo-instagram.svg", alt="instagram")
