header.header
    .nav-wrapper
        .logo
            img(src="./assets/images/logo.svg", alt="logo fylo")
        ul.nav
            li.nav__item: a.nav__link Features
            li.nav__item: a.nav__link Team
            li.nav__item: a.nav__link Sign In
    .intro
        img.illustration(src="./assets/images/illustration-intro.png", alt="intro illustration")
        h2.title All your files in one secure location, accessible anywhere.
        p.description Fylo stores all your most importante files in one secure location. Access them wherever you need, share and collaborate with friends family, and co-workers.
        //- a.btn.get-start Get Started
        a.btn.btn--cyan Get Started