@use "../abstracts/breakpoints" as *;

.articles {
	@include mq(medium) {
		display: flex;
		align-items: flex-start;
		align-items: baseline;
		gap: 4em;

		> * {
			flex-basis: 100%;
		}
	}
}

.article:not(:last-child) {
	margin-bottom: 3em;
}

.article {
	&__image {
		margin: 1.6em auto 2.5em;
	}

	&__title {
		margin-bottom: 0.4em;
		font-size: 1.55rem;
	}
}
