@use "../abstracts/breakpoints" as *;

.header {
	padding-top: 120px;

	@include mq(medium) {
		padding-top: 126px;
	}

	&__logo {
		margin-bottom: 4em;
		margin-inline: auto;

		@include mq(medium) {
			margin-bottom: 3.5em;
		}
	}

	&__title {
		margin-bottom: 0.5em;

		@include mq(medium) {
			font-size: 2.8rem;
			margin-bottom: 0.3em;
		}
	}

	&__description {
		margin-bottom: 3em;

		@include mq(medium) {
			margin-bottom: 2.3em;
			font-size: 1.32rem;
		}
	}
}
