.section {
	&__title {
		margin-bottom: 0.6em;
		font-size: 1.75rem;
	}

	&__description {
		margin-bottom: 4.1em;
	}

	&__details .image {
		margin-bottom: 3.6em;
	}
}

.section:first-child {
	margin-bottom: 11.7em;
}

.section:nth-child(2) {
	margin-bottom: 7em;
}

.section:nth-child(3) {
	margin-bottom: 8.2em;
}

.section:nth-child(4) {
	margin-bottom: 10.6em;
}
