footer.footer
    img.logo(src="./assets/images/logo.svg", alt="Footer Page")
    ul.secundary-nav 
        li.secundary-nav__item: a.secundary-nav__link(href="#") About
        li.secundary-nav__item: a.secundary-nav__link(href="#") Services
        li.secundary-nav__item: a.secundary-nav__link(href="#") Projects
    ul.socials
        li.socials__item: a.socials__link(href="#"): img(src="./assets/images/icon-facebook.svg", alt="Go facebook") 
        li.socials__item: a.socials__link(href="#"): img(src="./assets/images/icon-instagram.svg", alt="Go instagram")
        li.socials__item: a.socials__link(href="#"): img(src="./assets/images/icon-twitter.svg", alt="Go twitter")
        li.socials__item: a.socials__link(href="#"): img(src="./assets/images/icon-pinterest.svg", alt="Go pinterest")