footer.footer
    img.logo(src="./assets/images/logo.svg", alt="Footer Page")
    ul.secundary-nav 
        li.nav__item: a.nav__link(href="#") About
        li.nav__item: a.nav__link(href="#") Services
        li.nav__item: a.nav__link(href="#") Projects
    ul.socials 
        li.social__item: a.social__link(href="#"): img(src="./assets/images/icon-facebook.svg", alt="Go facebook") 
        li.social__item: a.social__link(href="#"): img(src="./assets/images/icon-instagram.svg", alt="Go instagram")
        li.social__item: a.social__link(href="#"): img(src="./assets/images/icon-twitter.svg", alt="Go twitter")
        li.social__item: a.social__link(href="#"): img(src="./assets/images/icon-pinterest.svg", alt="Go pinterest")