
header.header
    .top
        .logo-wrapper
            a(href="./"): img.logo(src="./assets/images/logo.svg", alt="Welcome to Sunnyside homepage")
        nav.nav-wrapper
            img.nav__hamburger#menu-btn(src="./assets/images/icon-hamburger.svg", alt="menu icon")
            ul.nav
                li.nav__item: a.nav__link(href="./" aria-label="about page") About
                li.nav__item: a.nav__link(href="./" aria-label="services page") Services
                li.nav__item: a.nav__link(href="./" aria-label="projects page") Projects
                li.nav__item: a.nav__link.nav__link--modified(href="./" aria-label="contact us page") Contact
    .hero
        title.h1 We are creatives
