section.services
    .section-wrapper
        article.sevice.service--with-left-text
            +text-wrapper("Transform your brand", "We are full-service agency specializing in helping brands grow fast. Engage your clients through compelling visuals that do most of the marketing for you.")
            img.sevice__img(src="", alt="")

        article.sevice.service--with-right-text
            +text-wrapper("Stand out to the right audience", "Using a collaborative formula of designers, researchers, photographers, videographers, and copywriters, we'll build and extend your brand in digital places.")
            img.sevice__img(src="", alt="")

        article.sevice
            .desing-with-img-inside
                h2.title Graphic Design
                p.text Great design makes you memoriable. We deliver artwork that underscores your brand message and captures potential client's attention.
            .desing-with-img-inside
                h2.title Photography
                p.text Increase your credibility by getting the most stunning, high-quality photos that improve your business image.