include ../mixins/testimonial

section.testimonials
    h2.title Client testimonials
    .testimonials-wrapper
        +testimonial("image-emily.jpg", "We put our trust in Sunnyside and they delivered, making sure our need wew met and deadlines were always hit.", "Emily R.", "Marketing Director")
        +testimonial("image-thomas.jpg", "Sunnyside's enthusiasm coupled with their keen interest in our brand's success made it a satisfactory and enjoyable experience.", "Thomas S.", "Chief Operating Officer")
        +testimonial("image-jennie.jpg", "Incredible end result! Our sales increased over 400%, when we worked with Sunnyside. Highly recommended!", "Jennie F.", "Business Owner")
