@use "../functions/rem" as *;
@use "../abstracts/breakpoints" as *;

.card {
	position: relative;
	width: 15.4em;
	margin: 0 auto;
	background-color: var(--clr-secondary-light-grayish-violet);
	border-radius: 2em;
	border: 10px solid var(--clr-secondary-white);
	box-shadow: 0 25px 50px #3e275355;
	overflow: hidden;

	&::after {
		content: "";
		position: absolute;
		width: rem(130px);
		height: rem(18px);
		top: 0;
		left: 50%;
		background-color: var(--clr-secondary-white);
		border-radius: 0 0 rem(14px) rem(14px);
		transform: translateX(-50%);
	}
}

.card__header {
	display: flex;
	align-items: center;
	gap: 0.5em;
	padding: 1.8em 1em 0.8em;
	background: linear-gradient(
		to left,
		var(--clr-gradient-light-magenta),
		var(--clr-gradient-light-violet)
	);
	color: var(--clr-secondary-white);
	border-radius: rem(6px);
}

.header__back {
	width: rem(7px);
}

.header__menu {
	width: rem(3px);
	margin-left: auto;
}

.card__body {
	padding: 0.68em;
}

.message-group {
	position: relative;
	margin-bottom: 1em;
}

.message {
	position: relative;
	max-width: 66.5%;
	width: max-content;
	padding: 0.75em 1em;
	font-size: 0.5rem;
	line-height: 1.4;
	border-radius: 10px;

	&:not(:last-child) {
		margin-bottom: 1em;
	}

	&--left {
		margin-right: auto;
		background-color: hsl(276, 100%, 85%, 0.2);
		color: var(--clr-primary-moderate-violet);
		border-bottom-left-radius: 4px;
	}

	&--right {
		margin-left: auto;
		background-color: var(--clr-secondary-white);
		color: var(--clr-primary-desaturated-dark-violet);
		border-bottom-right-radius: 2px;
	}

	&--image-group {
		img {
			display: inline-block;

			&:not(:last-child) {
				margin-right: 1em;
			}
		}
		padding: 0;
		background-color: transparent;
	}

	&--promotion {
		position: relative;
		display: flex;
		align-items: center;
		gap: 1em;
		max-width: 80%;
		color: var(--clr-secondary-light-grayish-violet);
		background: linear-gradient(
			to right,
			var(--clr-gradient-light-magenta),
			var(--clr-gradient-light-violet)
		);

		&::before {
			content: "";
			width: 12px;
			height: 12px;
			border-radius: 50%;
			border: 1px solid var(--clr-secondary-very-light-magenta);
		}

		.price {
			margin-left: auto;
			font-size: 0.8rem;
			font-weight: 700;
			padding-right: 0.5em;
		}
	}
}

.field-group {
	position: relative;

	.input-text {
		width: 100%;
		padding: 0.8em 3.5em 0.8em 1.5em;
		border: none;
		border-radius: 5em;

		&::placeholder {
			color: var(--clr-primary-grayish-blue);
			font-size: 0.6rem;
			font-weight: 500;
		}
	}

	.btn-send {
		position: absolute;
		right: 5px;
		top: 5px;
		display: grid;
		place-items: center;
		width: 25px;
		aspect-ratio: 1;
		background-color: var(--clr-secondary-very-dark-desaturated-violet);
		color: var(--clr-secondary-white);
		font-weight: 700;
		border-radius: 50%;
		border: none;

		svg {
			width: 50%;
			transform: rotate(180deg);
		}
	}
}
