header.header 
    div.header__top
        img.logo(src="./assets/images/logo.svg", alt="logo")
        a.btn(href="/" class="bg-white shadow-gray") Try It Free
    div.header__banner
        div.header__content
            h1.title Build The Community Your Fans Will Love
            p.paragraph Huddle re-imagines the way we build communities. You have a voice, but so does your audience. Create connections with your users as you engage in genuine discussion.
            a.btn(href="/" class="bg-pink txt-white shadow-pink") Get Started For Free
        img.header__image(src="./assets/images/illustration-mockups.svg", alt="illustration-mockups")
        