@use "../functions" as *;

*,
*::before,
*::after {
	box-sizing: border-box;
	font-family: "Rubik", sans-serif;
	color: var(--clr-neutral-gray);
}

body,
h1,
h2,
h3,
p {
	margin: 0;
}

body {
	display: flex;
	align-items: center;
	width: min(100%, 1440px);
	min-height: 100vh;
	background-color: var(--clr-neutral-dark-blue);
}

img {
	max-width: 100%;
	display: block;
}

ul {
	padding: 0;
	margin-block: 0;
	list-style: none;
}

a {
	color: inherit;
	text-decoration: none;
}

main {
	display: grid;
	width: clamp(325px, 86.7%, 1110px);
	margin: rem(70px) auto;
	gap: 1.5em;

	@include mq(tablet) {
		grid-template-rows: repeat(auto, 1fr);
		grid-template-columns: repeat(2, 1fr);
		grid-template-areas: "large large" "work play" "study exercise" "social self-care";
	}

	@include mq(desktop) {
		grid-template-rows: repeat(2, 1fr);
		grid-template-columns: repeat(4, 1fr);
		grid-template-areas:
			"large work play study"
			"large exercise social self-care";
	}
}
