-
    const articlesData = [
        {
            imgSrc: "illustration-grow-together.svg",
            title: "Grow Together",
            paragraph: "Generate meaningful discussions with your audience and build a strong, loyal community. Think of the insightful conversations you miss out on with a feedback form.",
        },
        {
            imgSrc: "illustration-flowing-conversation.svg",
            title: "Flowing Conversations",
            paragraph: "You wouldn't paginate a conversation in real life, so why do it online? Our threads have just-in-time loading for a more natural flow.",
            classModifier:"article--turned"
        },
        {
            imgSrc: "illustration-your-users.svg",
            title: "Your Users",
            paragraph: "It takes no time at all to integrate Huddle with your app's authentication solution. This means, once signed in to your app, your users can start chatting immediately.",
        },
    ]