$colors: (
	primary: (
		// (Full Slider Bar)
		soft-cyan: hsl(174, 77%, 80%),
		// (Slider Backround)
		cyan: hsl(174, 86%, 45%),
		// (Discount Background)
		soft-orange: hsl(14, 92%, 95%),
		//  (Discount Text)
		orange: hsl(15, 100%, 70%),
		// (CTA Text)
		soft-blue: hsl(226, 100%, 87%),
	),
	neutral: (
		// (Pricing Component Background)
		white: hsl(0, 0%, 100%),
		// (Main Background)
		100: hsl(230, 100%, 99%),
		// (Empty Slider Bar)
		200: hsl(224, 65%, 95%),
		// (Toggle Background)
		300: hsl(223, 50%, 87%),
		// (Text)
		400: hsl(225, 20%, 60%),
		//  (Text & CTA Background)
		500: hsl(227, 35%, 25%),
	),
);
