-
    const commentsData = [
        {
            quote: "Fylo has improved our team productuvity by an order of magnitude. Since making the switch out team has become a well-oiled collaboration machine.",
            userImgScr: "./assets/images/profile-1.jpg",
            name: "Satish Patel",
            position: "Founder & CEO, Hunddle"
        },
        {
            quote: "Fylo has improved our team productuvity by an order of magnitude. Since making the switch out team has become a well-oiled collaboration machine.",
            userImgScr: "./assets/images/profile-2.jpg",
            name: "Bruce McKenzie",
            position: "Founder & CEO, Hunddle"
        },
        {
            quote: "Fylo has improved our team productuvity by an order of magnitude. Since making the switch out team has become a well-oiled collaboration machine.",
            userImgScr: "./assets/images/profile-3.jpg",
            name: "Iva Boyd",
            position: "Founder & CEO, Hunddle"
        },
    ]