:root {
	/* ### Primary */
	--desaturated-red: hsl(0, 36%, 70%);
	--soft-red: hsl(0, 93%, 68%);

	/* ### Neutral */
	--dark-grayish-red: hsl(0, 6%, 24%);
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

*:focus {
	outline: none;
}

h1,
p,
body {
	margin: 0;
}

input {
	font: inherit;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	width: 100vw;
	font-size: 16px;
	font-family: "Josefin Sans", sans-serif;
	background: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
}

.card {
	min-width: 360px;
	border-radius: 1em;
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
	overflow: hidden;
}

.logo {
	padding: 1.95em;
	padding-bottom: 1.6em;
}

.logo img {
	height: 1.35em;
}

.image-wrapper {
	height: 250px;
}

.image {
	background-image: url("../assets/images/hero-mobile.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
}

.content {
	text-align: center;
	padding: 4em 2.3em;
}

.title {
	color: var(--dark-grayish-red);
	text-transform: uppercase;
	font-weight: 600;
	font-size: 2.5rem;
	letter-spacing: 0.25em;
	line-height: 1.05;
}

.title span {
	font-weight: 300;
}

.title span,
.description,
.input__text {
	color: var(--desaturated-red);
}

.description {
	padding: 1.1em 0 2.25em;
	font-size: 0.89em;
	line-height: 1.55;
}

.input {
	display: flex;
	gap: 15px;
	height: 3em;
	border: 1px solid rgba(206, 151, 151, 0.6);
}

.input,
.input__btn {
	border-radius: 1.5em;
}

.input__error-icon {
	align-self: center;
}

.input__text {
	width: 100%;
	margin-left: 1.5em;
	background: transparent;
	font-size: 0.9rem;
	font-weight: 400;
	border: none;
}

.input__text:focus {
	color: initial;
}

.input__btn {
	flex: 1 0 max(65px, 22.5%);
	display: flex;
	justify-content: center;
	align-items: center;
	background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
	box-shadow: 5px 10px 20px rgba(238, 140, 140, 0.5);
}

.input__error-icon,
.input__error-msg {
	visibility: hidden;
}

.input__error-msg {
	text-align: initial;
	color: hsl(0, 74%, 74%);
	font-size: 0.83rem;
	font-weight: 600;
	padding-top: 0.7em;
	padding-left: 2.2em;
}

/* Invalid Email */
.input--invalid {
	border: 2px solid var(--soft-red);
}

.input--invalid .input__error-icon,
.input--invalid ~ .input__error-msg {
	visibility: visible;
}

@media screen and (min-width: 768px) {
	.card {
		position: relative;
		max-width: 1440px;
		height: 800px;
		overflow: hidden;
		background-image: url("../assets/images/bg-pattern-desktop.svg");
	}

	.image-wrapper {
		position: absolute;
		top: 0;
		left: 830px;
		width: 610px;
		height: 100%;
	}

	.image {
		background-image: url("../assets/images/hero-desktop.jpg");
	}

	.logo {
		margin-top: 2.2em;
		margin-bottom: 2.4em;
	}

	.logo img {
		height: 2.05em;
	}

	.logo,
	.content {
		padding-left: 10.4em;
	}

	.content {
		text-align: left;
		width: min(40.5em, 95%);
	}

	.title {
		font-size: 4rem;
		line-height: 1.07;
	}

	.description {
		font-size: 1rem;
		line-height: 1.8;
	}

	.input {
		height: 3.5em;
	}

	.input__text {
		font-size: 1rem;
	}

	.input,
	.input__btn {
		border-radius: 1.75rem;
	}

	.input__btn:hover {
		transform: scale(1.05, 1.1);
		background: linear-gradient(135deg, #fdd8d8, #eba2a2);
	}
}
