doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        //- Fonts
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap" rel="stylesheet">
        
        //- title
        title Frontend Mentor | Time tracking dashboard
        //- Stylesheet
        link(rel="stylesheet", href="./css/style.css")
        link(rel="shortcut icon", href="./assets/images/favicon-32x32.png", type="image/x-icon")
        //- Scripts
        script(defer src="./js/main.js") 
    body
        main#main
            article.card--large
                .user
                    img.user__image(src="./assets/images/image-jeremy.png", alt="Jeremy Robson photo")
                    .user__info 
                        p.reported Report for
                        h2.name Jeremy Robson
                ul.periodicity-filter#filter
                    li.filter__item Daily
                    li.filter__item.filter__item--selected Weekly
                    li.filter__item Monthly

        
            


