@use "../functions/rem" as *;
@use "../abstracts/breakpoints" as *;

*,
*::before,
*::after {
	box-sizing: border-box;
	font-family: var(--ff-primary);
}

body,
h1,
p {
	margin: 0;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	min-height: 100vh;
	background: no-repeat center / cover url("../assets/images/bg-mobile.png"),
		var(--very-dark-blue);

	@include mq(desktop) {
		background-image: url("../assets/images/bg-desktop.png");
		background-size: contain;
		background-position: bottom;
	}
}

img {
	max-width: 100%;
	display: block;
}

ul {
	padding: 0;
	margin-block: 0;
	list-style: none;
}

a {
	text-decoration: none;
}

a:visited {
	color: inherit;
}
