@use "../abstracts" as *;
@use "../functions/rem" as *;

*,
*::before,
*::after {
	box-sizing: border-box;
	font-family: var(--ff-primary);
}

body,
h1,
h2,
p {
	margin: 0;
}

body {
	width: 100%;
	min-height: 100vh;
	text-align: center;

	@include mq(medium) {
		text-align: start;
	}
}

img {
	max-width: 100%;
	display: block;
}

ul {
	padding: 0;
	margin-block: 0;
	list-style: none;
}

a {
	color: inherit;
	text-decoration: none;
}

.main {
	max-width: 1440px;
	margin: 0 auto;
	padding-top: 3.7em;
	padding-bottom: 14.4em;

	@include mq(medium) {
		padding-top: rem(160px);
		padding-bottom: rem(345px);
	}
}
